layout {
    pane_template name="b_vsplit" split_direction="vertical" {
        pane
        pane
    }
    pane_template name="b_hsplit" split_direction="horizontal" {
        pane
        pane
    }
    swap_tiled_layout name="bigLITTLE" {
        tab max_panes=2 focus=true {
            pane size=1 borderless=true {
                plugin location="zellij:compact-bar"
            }
            pane
        }
        tab {
            pane size=1 borderless=true {
                plugin location="zellij:compact-bar"
            }
            pane split_direction="horizontal" {
                pane size="70%" split_direction="vertical" {
                    pane size="80%"
                    pane
                }
                pane split_direction="vertical" {
                    b_vsplit
                    pane split_direction="horizontal" {
                        pane
                        pane
                        b_vsplit
                        b_vsplit
                    }
                }
            }
        }
    }
    swap_tiled_layout name="h&v" {
        tab max_panes=2 focus=true {
            pane size=1 borderless=true {
                plugin location="zellij:compact-bar"
            }
            pane
        }
        tab {
            pane size=1 borderless=true {
                plugin location="zellij:compact-bar"
            }
            pane split_direction="vertical" {
                pane
                pane split_direction="horizontal" {
                    pane
                    pane
                    b_vsplit
                    b_vsplit
                }
            }
        }
    }
    pane size=1 borderless=true {
        plugin location="zellij:compact-bar"
    }
    pane
}
