configuration {
 modi: "window,drun,ssh,combi,filebrowser";
 font: "hack 10";
 combi-modi: "window,drun,ssh";
 terminal: "kitty";
 }
//@theme "/usr/share/rofi/themes/Arc-Dark.rasi"
//@theme "/usr/share/rofi/themes/Arc-Dark.rasi"
//@theme "/usr/share/rofi/themes/slate.rasi"
//@theme "/usr/share/rofi/themes/slate.rasi"
@theme "/usr/share/rofi/themes/slate.rasi"
