/*
 * Change the colorscheme for every menu simply by editing this file...
 * Available Color Schemes
 *
 * bluish    berry    nordic    nightly    gotham    mask    faded    cocoa
 */
* {
  width: 60%;
  height: 70%;
  font: "hack 10";
}


@import "nightly.rasi"
