
* {
    background:                     #00181818;
    background-alt:              	#00181818;
    background-bar:                 #f2181818;
    foreground:                     #f2b9b9b9;
    accent:			            	#ff368AEB;
}
