
* {
    background:                     #0011121D;
    background-alt:              	#0011121D;
    background-bar:                 #f211121D;
    foreground:                     #f2c0caf5;
    accent:			            	#ff7aa2f7;
}
