/*
 *		pywal theme template for notepadqq by threadreaper
 *		https://github.com/threadreaper
 */

.cm-s-nqqwal .CodeMirror-gutters { background: #181818 !important; }
.cm-s-nqqwal .CodeMirror-foldgutter-open, .CodeMirror-foldgutter-folded { color: #b9b9b9; }
.cm-s-nqqwal .CodeMirror-cursor { border-left: 1px solid #b9b9b9; background-color: rgba(63,197,183,0.4)}
.cm-s-nqqwal { background-color: #181818; color: #b9b9b9; }
.cm-s-nqqwal span.cm-builtin { color: #70B433; font-weight: bold; }
.cm-s-nqqwal span.cm-comment { color: #3B3B3B; }
.cm-s-nqqwal span.cm-keyword { color: #DBB32D; font-weight: bold; }
.cm-s-nqqwal span.cm-atom { color: #368AEB; }
.cm-s-nqqwal span.cm-def { color: #EB6EB7; }
.cm-s-nqqwal span.cm-variable { color: #3FC5B7; }
.cm-s-nqqwal span.cm-variable-2 { color: #EB6EB7; }
.cm-s-nqqwal span.cm-string { color: #70B433; }
.cm-s-nqqwal span.cm-string-2 { color: #70B433; }
.cm-s-nqqwal span.cm-number { color: #EB6EB7; }
.cm-s-nqqwal span.cm-tag { color: #DBB32D; }
.cm-s-nqqwal span.cm-property { color: #3FC5B7; }
.cm-s-nqqwal span.cm-attribute { color: #3FC5B7; }
.cm-s-nqqwal span.cm-qualifier { color: #368AEB; }
.cm-s-nqqwal span.cm-meta { color: #EB6EB7; }
.cm-s-nqqwal span.cm-header { color: #DBB32D; }
.cm-s-nqqwal span.cm-operator { color: #DBB32D; }
.cm-s-nqqwal span.CodeMirror-matchingbracket { box-sizing: border-box; background: transparent; border-bottom: 1px solid; }
.cm-s-nqqwal span.CodeMirror-nonmatchingbracket { border-bottom: 1px solid; background: none; }
.cm-s-nqqwal .CodeMirror-activeline-background { background: rgba(235,110,183,0.4); }
.cm-s-nqqwal div.CodeMirror-selected { background: #DBB32D; }
.cm-s-nqqwal .CodeMirror-focused div.CodeMirror-selected { background: #252525); }
