* {
    background:                     #181818;
    background-alt:                 #3B3B3B;
    foreground:                     #b9b9b9;
    border:               			#DEDEDE;
    border-alt:               		#368AEB;
    selected:               		#252525;
    urgent:                         #70B433;
    spacing: 0;
    width: 60%;
    height: 80%;
}
