* {
    background:                     #11121D;
    background-alt:                 #414868;
    foreground:                     #c0caf5;
    border:               			#c0caf5;
    border-alt:               		#7aa2f7;
    selected:               		#11121D;
    urgent:                         #9ece6a;
    spacing: 0;
    width: 60%;
    height: 80%;
}
